body {
  margin: 0;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  color: #334155;
  width: 1000px;
  margin: 0 auto;
  line-height: 1.4;
}

@media (width < 1060px) {
  main {
    width: unset;
    margin: 0 30px;
  }
}

.pages {
  display: flex;
  gap: 32px;
}

@media (width < 500px) {
  .pages {
    display: block;
  }
}

.column {
  flex: 1;
}

.column-title {
  margin: 32px 0;
}

.card {
  display: block;
  text-decoration: none;
  background: #ffffff;
  color: #334111;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin: 32px 0;
  border-radius: 8px;
  cursor: pointer;
}

.card-header {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 1rem;
  padding: 16px;
  margin: 0;
}

.card-content {
  font-size: 0.9rem;
  padding: 0 16px;
  margin: 0;
}

.card-footer {
  font-size: 0.9rem;
  padding: 16px;
  margin: 0;
  color: #606c7c;
  font-style: italic;
}
